<div class="laclasesita">
<h3>Actualmente se presenta un error</h3>
<p>Lo sentimos, pero no se pudo completar la operación debido a que no se alcanzó el presupuesto requerido. Por favor, revise el presupuesto asignado y vuelva a intentarlo.</p>
    <img src="@Url.Content("~/img/TheIngeniers.svg")" alt="Error" class="h-50 imagencita">
</div>

