@{
    ViewData["Title"] = "Home";
}

<div class="d-grid justify-content-md-center mt-5">
    <div class="d-grid gap-2 col-12 mt-5">
        <a class="btn btn-secondary" type="button" asp-controller="Employees" asp-action="Index">Employees</a>
        <a class="btn btn-secondary" type="button" asp-controller="CheckInCheckOuts" asp-action="Index">Check in / Check out</a>
    </div>
</div>
