@{
    ViewData["Title"] = "Home Page";
}

<div class="d-grid justify-content-md-center">
    <div class="d-grid gap-2 col-12 ">
        <button class="btn btn-primary" type="button">Employees</button>
        <button class="btn btn-primary" type="button">Check in/Check out</button>
    </div>
</div>
