@{
    ViewData["Title"] = "unauthorized";

}
<div class="laclasesita">
    <h3>What's going on brooou?</h3>
    <p>On your bike!</p>
    <a class="btn btn-secondary" type="button" asp-controller="Users" asp-action="Index">Login</a>
    <img src="@Url.Content("~/img/aruLost.svg")" alt="Error" class="h-50 imagencita">
</div>

<script>
    setTimeout(function () {
        window.location.href = '/Users/Index';
    }, 5000);
</script>